# Django settings
SECRET_KEY=change-this-in-production
DEBUG=True

# CORS settings
CORS_ALLOWED_ORIGINS=http://localhost:5173

# Email
#DEFAULT_FROM_EMAIL="Protect Envi <email@domaine.fr>"
#BREVO_API_KEY=todo
#BREVO_SENDER_DOMAIN=todo.fr

# Rate limiting
#EMAIL_RATE_LIMIT=2/m

# Frontend settings (VITE_* variables are exposed to the frontend)
VITE_BACKEND_URL=http://localhost:8000
VITE_CONTACT_EMAIL=
VITE_RDV_PAGE_URL=https://rdv.anct.gouv.fr/prendre_rdv?departement=&public_link_organisation_id=1769

# Matomo Analytics
VITE_MATOMO_ENABLED=false
VITE_MATOMO_HOST=https://TODO
VITE_MATOMO_SITE_ID=TODO

# Démarche numérique
# DN_API_TOKEN="TODO"
# DN_DEMARCHE_NUMBER=123456
# VITE_DN_URL=https://demarche.numerique.gouv.fr/commencer/TODO

# ProConnect / OIDC
# VITE_PROCONNECT_ENABLED=true
# OIDC_RP_CLIENT_ID=
# OIDC_RP_CLIENT_SECRET=
# OIDC_OP_AUTHORIZATION_ENDPOINT="https://BASE_URL/api/v2/authorize"
# OIDC_OP_TOKEN_ENDPOINT="https://BASE_URL/api/v2/token"
# OIDC_OP_JWKS_ENDPOINT=
# OIDC_OP_USER_ENDPOINT="https://BASE_URL/api/v2/userinfo"
# OIDC_OP_LOGOUT_ENDPOINT="https://BASE_URL/api/v2/logout"

VITE_LOGIN_REQUIRED=true

# Sentry
SENTRY_DSN=
SENTRY_ENABLED=False
SENTRY_DEBUG=False
SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0.1
SENTRY_SEND_DEFAULT_PII=False
