services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - '8000:8000'
    volumes:
      - .:/app
      - ./documents:/app/documents
    environment:
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=backend.settings.local
      # Initial admin user credentials
      - DJANGO_SUPERUSER_USERNAME=admin
      - DJANGO_SUPERUSER_EMAIL=admin@example.com
      - DJANGO_SUPERUSER_PASSWORD=admin
    command: runserver

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - VITE_BACKEND_URL=http://localhost:8000
    depends_on:
      - backend
    command: dev
    healthcheck:
      test: ['CMD', 'wget', '--no-verbose', '--tries=1', '--spider', 'http://127.0.0.1:5173']
      interval: 5s
      timeout: 5s
      retries: 5

  e2e:
    build:
      context: .
      dockerfile: Dockerfile.e2e
    ports:
      - '9323:9323'
    environment:
      - BASE_URL=http://frontend:5173
    depends_on:
      frontend:
        condition: service_healthy
      backend:
        condition: service_started
    volumes:
      - .:/app
      - /app/node_modules
      - /app/test-results
      - /app/playwright-report
