[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-extensions = "*"
python-odt-template = "*"
django-cors-headers = "*"
django-downloadview = "*"
jinja2 = "*"
ipdb = "*"
django-tasks = "*"
django-anymail = {extras = ["brevo"], version = "*"}
django-redis = "*"
django-model-utils = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
flake8-pyproject = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
factory-boy = "*"

[requires]
python_version = "3.12"
